annotated-doc
annotated-types
anyio
click
colorama
email-validator
fastapi
h11
idna
joblib
numpy
pandas
pydantic
pydantic_core
python-dotenv
resend
python-dateutil
scikit-learn
scipy
seaborn
six
xgboost
optuna
matplotlib
lightgbm
catboost
starlette
threadpoolctl
typing-inspection
typing_extensions
tzdata
uvicorn
mangum==0.17.0
